@{
    ViewData["Title"] = "隱私權政策";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mb-4">🔒 隱私權政策</h2>

<div class="mb-4">
    <p>
        我們非常重視您的隱私權，並致力於保護您在使用「股市方舟」網站（StockGTO.com）時所提供的個人資料。
        本政策旨在說明我們如何蒐集、使用、儲存及保護您的資訊，請您詳細閱讀。
    </p>
</div>
